* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family:'Arial', 'Helvetica', sans-serif;
}

main {
    max-width:90%;
    margin: 0 auto;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch; /*fills divs*/
    margin-bottom: 2em;
}

section > h1 {
    font-size: 30px;
    flex: 0 0 23%;
    text-align: right;
    padding-right: 20px;
}

section > div {
    flex: 0 0 77%;
    padding-left: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    margin: .5em;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    padding: 0 0 70px 0; /*changes box size*/
    background-size: 100%;
    background-position: no-repeat;
    background-color: #fac543;
}

.flex-item div {
    padding: 8px 10px;
    background-color: white;
}

.flex-item:first-child {
    min-height: 300px;
    flex-basis: 100%; /*lines it up*/
}

.project-1 {
    background-image: url("../images/contact-me-landing-page.png");
    /*set alt here*/
}

.project-2 {
    background-image: url("../images/Future\ Apps.jpg");
    /*set alt here*/
}

.project-3 {
    background-image: url("../images/Future\ Apps.jpg");
    /*set alt here*/
}

.project-4 {
    background-image: url("../images/Future\ Apps.jpg");
    /*set alt here*/
}

.project-5 {
    background-image: url("../images/Future\ Apps.jpg");
    /*set alt here*/
}

.project-6 {
    background-image: url("../images/Future\ Apps.jpg");
 
}

.project-7 {
    background-image: url("../images/Future\ Apps.jpg");
    /*set alt here*/
}



header {
    background-color: lightgray;
    position: fixed;
    padding-top: 0;
    text-align: right;
    width: 100%;
    height: 50px;
}

 a {
    text-decoration: none;
    color: black;
}

#work span {
    position: relative;
    top: -82px;
}

.text-right {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-right: 20px;
}


header nav ul li {
    padding: 17px;
    font-size: 20px;
    margin: -2px;
}



/* name font size */
body div h1 {
    font-size: 60px;
    padding-left: 20px;
} 

.name {
    padding-top: 2em;
    padding-bottom: 3em;
    text-align: center;
}

#avatar {
    position: fixed;
    z-index: -1;
}

#return-location {

    padding-top: 100px;
    margin-left: 40px;
}

#transp-div {
    position: fixed;
    height: 150px;
    width: 150px;
}

#list-items {
    list-style: none;
}

footer {
    display: flex;
    font-size: smaller;
    color: white;
    justify-content: center;
    background-color: gray;
    min-height: 50px;
    align-items: center;
}


@media screen and (max-width: 768px) {

    .flex-item,
    .flex-item:first-child {
        flex-basis: 100%
    }
    .flex-item:first-child {
        min-height: 150px;
    }

    header {
        position: relative;
        background-color: lightgray;
    }

    .avatar {
        position: absolute;
        padding-top: 4.5em;
        padding-left: 0;
    }

    .flex-center {
        display: flex;
        justify-content: center;

    }

    #header {
        display: flex;
        justify-content: center;
        padding: 1em;
        align-items: center; 
    }

    #return-location {
        padding-left: 0px;
        padding-top: 0px;
        margin-right: 0px;
    }

    .name {
        padding-top: 4em;
        padding-bottom: 1.5em;
    }

    #avatar {
        display: block;
        padding: 30px 0;
        position: absolute;
    }

    #transp-div {
        display: none;
    }
}

